 <div class="tableview">
    {% if list and list.entries | length %}
        <div class="tablecontent">
            <table class="data fullwidth nowrap">
                <thead>
                    <tr>                    
                        {% for column in list.columns %}
                            <th>{{ column.label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in list.entries %}
                        <tr style="white-space: normal;">
                            {% for column in list.columns %}
                                {% if column.key == 'dateCreated' %}
                                    <td style="max-width: 200px;">{{ row[column.key] | date_modify("+2 hours") | date("d/m/Y H:i:s")  }}</td>
                                {% elseif column.key == 'isRecurring' %}
                                    <td style="max-width: 200px;">{{ row[column.key] == 1 ? "Cykliczna" : "Jednorazowa" }}</td>
                                {% elseif column.key == 'id' %}
                                    <td style="max-width: 200px;"><button data-href="{{ craft.config.cancelSubscription }}" data-id="{{ row[column.key] }}" class="btn submit sub-cancel">Anuluj</button></td>
                                {% else %}
                                    <td style="max-width: 200px;">{{ row[column.key] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}    
        <p>Brak elementów.</p>
    {% endif %}

    <div id="footer" class="flex">
        <div id="count-spinner" class="spinner hidden"></div>
        <div id="count-container" class="light flex-grow">
            <div class="flex pagination">
                <a class="page-link load-entries {{ list.isPrevPage ? '' : 'disabled' }}" data-icon="leftangle" title="Poprzednia strona" href="{{ baseEntriesUrl }}?page={{ list.page - 1 }}&sortBy={{ list.sortBy }}&sortOrder={{ list.sortOrder }}"></a>
                <a class="page-link load-entries {{ list.isNextPage ? '' : 'disabled' }}" data-icon="rightangle" title="Następna strona" href="{{ baseEntriesUrl }}?page={{ list.page + 1 }}&sortBy={{ list.sortBy }}&sortOrder={{ list.sortOrder }}"></a>
                <div class="page-info">{{ list.countFrom }}–{{ list.countTo }} z {{ list.countAll }} wpisów.</div>
            </div>
        </div>
        <a id="export-btn" class="btn" target="_blank" href="{{ exportCsvUrl }}">Eksportuj</a>
    </div>

    <hr>

     {% if not list.isRecurring %}
    <p style="text-align: right; margin: 15px 0; font-size: 18px; padding-right: 20px;"><b>Suma wpłat z wybranymi filtrami:</b> {{ list.sumFilter | number_format(2) }} PLN</p>
    <p style="text-align: right; margin: 15px 0; font-size: 18px; padding-right: 20px;"><b>Suma wpłat wyświetlanych na stronie:</b> {{ list.sum | number_format(2) }} PLN</p>
    <p style="text-align: right; margin: 15px 0; font-size: 18px; padding-right: 20px;"><b>Suma wpłat w tym miesiącu:</b> {{ list.sumMonth | number_format(2) }} PLN</p>
    <p style="text-align: right; margin: 15px 0; font-size: 18px; padding-right: 20px;"><b>Suma wpłat w tym roku:</b> {{ list.sumYear | number_format(2) }} PLN</p>
    <p style="text-align: right; margin: 15px 0; font-size: 18px; padding-right: 20px;"><b>Suma wpłat:</b> {{ list.sumTotal | number_format(2) }} PLN</p>
     {% endif %}

</div>