 <div class="tableview">

    {% if list and list.entries | length %}
        <div class="tablecontent">
            <table class="data fullwidth nowrap">
                <thead>
                    <tr>
                        <th>Projekt</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Email</th>
                        <th>Kwota</th>
                        <th>Rodzaj</th>
                        <th>Data płatności</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in list.entries %}
                        <tr>
                            <td>{{ row.project }}</td>
                            <td>{{ row.firstName }}</td>
                            <td>{{ row.lastName }}</td>
                            <td>{{ row.email }}</td>
                            <td>{{ row.amount }}</td>
                            <td>{{ row.isRecurring == '0' ? 'Płatność jednorazowa' : 'Płatność cykliczna' }}</td>
                            <td>{{ row.dateCreated }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}    
        <p>Brak elementów.</p>
    {% endif %}

    <div id="footer" class="flex">
        <div id="count-spinner" class="spinner hidden"></div>
        <div id="count-container" class="light flex-grow">
            <div class="flex pagination">
                <a class="page-link load-entries {{ list.isPrevPage ? '' : 'disabled' }}" data-icon="leftangle" title="Poprzednia strona" href="{{ baseEntriesUrl }}?page={{ list.page - 1 }}"></a>
                <a class="page-link load-entries {{ list.isNextPage ? '' : 'disabled' }}" data-icon="rightangle" title="Następna strona" href="{{ baseEntriesUrl }}?page={{ list.page + 1 }}"></a>
                <div class="page-info">{{ list.countFrom }}–{{ list.countTo }} z {{ list.countAll }} wpisów.</div>
            </div>
        </div>
        <div id="export-btn" class="btn">Eksportuj…</div>
    </div>

    <hr>
    
    <p style="text-align: right; margin: 30px 0; font-size: 18px; padding-right: 20px;"><b>Suma:</b> {{ list.sum | number_format(2) }} PLN</p>
  
</div>